body {
    margin: 0;
    background: #aaaaaa;
}

dl {cursor: pointer;}


.articles {
    float: left;
    width:180px;
    height:180px;
    margin-left: 1%;
    margin-bottom: 1%;
}

.articles dl:hover {
    background: rgba(255,197,30,0.73);
    border: 3px solid #fff; /* Белая рамка */
    border-radius: 10px;
}

dl {
    width: 100%;
    height: 100%;
    outline: 2px solid #000; /* Чёрная рамка */
    border: 3px solid #fff; /* Белая рамка */
    border-radius: 10px;
    background: rgba(164,188,228,0.66);
}

#ticker dt {
    height: 20%;
    font:normal 18px Georgia;
    text-align: center;
    border: solid #e5e5e5;
    background-color:#e5e5e5;

}
#ticker dd {
    height: 60%;
    overflow: hidden;
    margin-left:0;
    width: 100%;
    border-bottom:1px solid #aaaaaa;
    border-left:1px solid #ffffff;
}

#ticker dd.hastags {
    margin-left:0;
    height: 18%;
    border-bottom:1px solid #aaaaaa;
    border-left:1px solid #ffffff;
}

header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
    height: 40px;
    border-bottom: 3px solid #ff9300;
}

header div {
    float: left;
    border-right:1px #bbb;
    height: 100%;
}

header div form button {
    float: left;
    background-color: #333;
    height: 100%;
    color: white;
}

header div form button:hover {
    background-color: #111;
}

.auth {
    border-right:none;
    float: right;
    background: #ff9300;
}
.auth:hover {
    background: #bc5e06;
}

.home {
    float: left;
    background-color: #4CAF50;

}
.home:hover {
    background-color: green;
}


.moveble {
    position: fixed;
}

.error {
    color: red;
    text-align: center;
}
.success {
    color: green;
}

.filter {
    float: left;
    background: #333333;
    width: 15%;
    height: 100%;
    color:white;
    font:normal 18px Georgia;
    overflow: auto;
    border-right: 3px solid #ff9300;
}

.actionButton {
    background-color: #333;
    height: 4%;
    width: 100%;
    color: white;
}

.actionButton:hover {
    background-color: #111;
}

.form-control-button {
    background-color: green;
    height: 15%;
    width: 50%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.form-control {
    position: relative;
    left: 20%;
    /*transform: translate(-50%, 0);*/
}

.action-form {
    position: fixed; /* or absolute */
    left: 50%;
    top: 50%;
    color: #aaaaaa;
    background: #333333;
    width: 400px;
    height: 200px;
    margin: -100px 0 0 -200px;
}

a {
    text-decoration: none;
    font-family: 'Lora', serif;
    transition: .5s linear;
}
i {
    margin-right: 10px;
}
nav {
    display: block;
    width: 660px;
    margin: 0 auto 30px;
}
.one ul {
    padding: 1em 0;
    background: #ECDAD6;
}
.one a {
    padding: 1em;
    background: rgba(177, 152, 145, .3);
    border-right: 1px solid #b19891;
    color: #695753;
}
.one a:hover {background: #b19891;}
.one li {
    display: inline;
}

.article {
    position: fixed; /* or absolute */
    left: 50%;
    width: 80%;
    height: 100%;
    margin: 0 0 0 -40%;
    background-color: rgba(164,188,228,0.66);
    border: 3px solid #111111;
}
.article h1 {
    text-align: center;
    border: 2px solid #ff9300;
    background: #333333;
    color: #aaaaaa;
}

.article div {
    text-align: center;

}

.centered {

}





